h1,p{
    text-align: center;
}

h1{
    padding: 10px;
}

.grid-image{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.invisible{
    display: none;
}

@media only screen and (max-width: 900px) {
    /* Pequenos celulares */
    .row>*{
        width: 50%;
        max-width: 50%;
    }

}
